// CORES //
$branco-000: #fff;

$cinza-400: #7d7d7d;
$cinza-800: #333;

$preto-900: #000;
$preto-900-t5: rgba(0, 0, 0, 0.5);
$preto-900-t6: rgba(0, 0, 0, 0.4);

$vermelho-400: #ff3333;

$verde-100: rgb(145, 252, 177);
$verde-400: #00b034;
$verde-800: #003f13;

$rosa-400: #c6009a;

$azul-010: #dee;
$azul-100: #a0a0ff;
$azul-400: #5656e7;
$azul-450: #336B6B;

$amarelo-400: #ffff5e;

$laranja-100: #ffc3a0;